<%- include("partials/header_admin")  %>
<style>
    body{
        background-image: none;
        background-color: black;
        color: white;
    }
    
    nav{
        background-color: #417690;
        width: 100%;
    } 
</style>    
<div class="wrapper">
    <section class="add-section">
        <h1>
            collections
        </h1>
        <ul>
            <li class="db"> <span class="collections"><a href="/admin/viewEvents">events</a></span>
                <div>
                    <a href="/addEvent">
                        <p>
                            <i class="fa-solid fa-plus"></i>
                            add
                        </p>
                    </a> 
                </div>
            </li>
            <li class="db"> <span class="collections"><a href="/admin/viewTestimonial">testimonials</a></span>
                <div>
                    <a href="/admin/addTestimonial">
                        <p>
                            <i class="fa-solid fa-plus"></i>
                            add
                        </p>
                    </a> 
                </div>
            </li>           
            <li class="db"> <span class="collections"><a href="/admin/viewEmails">emails</a></span>
                <div>
                    <a href="/admin/messageEmails"">
                        <p>
                          <i class="fa-solid fa-pencil"></i>
                          message
                        </p>
                      </a>
                </div>
            </li>
        </ul>
    </section>
        <!-- addEvent.ejs -->
    <section>
        <% if (locals.error) { %>
            <div class="alert alert-danger " style="width: 300px;" role="alert">
              <%= error %>
            </div>
          <% }else if (locals.message){ %>
          <div class="alert alert-success " style="width: 300px;" role="alert">
            <%= message %>
          </div> 
          <% } %>
          
        <div class="viewEvents-head">
            <h1>view Emails</h1>
        </div>
        <div class="events-container">
            <ul class="">
                <% email.forEach(email => { %>
                <div class="veiwEvent" >
                    <div>
                        <li class="events"><%= email.email%></li>
                    </div>
                    <div class="deleted-button" data-event-id="<%= email._id %>"><a href="/deleteEmail/<%= email._id %>"><i class="fa-solid fa-trash"></i></a></div>
                </div>
                <% }); %>
            </ul>
        </div>
    </section>
</div>
<%- include("partials/adminFooter") %>
<script>
        document.addEventListener("DOMContentLoaded", () => {       
        setTimeout(() => {
        const errorMessage = document.querySelector(".alert");
        if (errorMessage) {
          errorMessage.style.display = "none";
        }
      }, 5000); 
});
</script>