<%- include("partials/header.ejs") %>
    <section id="carousel-section "draggable="false">
        <div class="carousel" draggable="false">
            <button class="carousel_button left-carousel-button its_hidden" style="display: none;">
                <!-- <img class="carousel_button" src="./pictures/icons8-left-50.png" alt=""> -->
            </button>
            <div class="carousel_container" draggable="false">
                <ul class="carousel_track" draggable="false">
                    <li class="carousel_slide current_slide">
                        <img class="carousel-img" src="/pictures/home-first-pic.webp" alt="placeholder">
                    </li>
                    <li class="carousel_slide">
                        <img class="carousel-img" src="/pictures/the-boywithsmile.webp" alt="placeholder">
                    </li>
                    <li class="carousel_slide">
                        <img class="carousel-img" src=".//pictures/reading-students2.webp" alt="placeholder">
                    </li>
                </ul>
                <div class="carousel-nav">
                    <button class="carousel_indicator current_slide "></button>
                    <button class="carousel_indicator"></button>
                    <button class="carousel_indicator"></button>
                </div>
            </div>
            <button class="carousel_button right-carousel-button" style="display: none;">
                <!-- <img class="carousel_button" src="./pictures/icons8-right-50.png" alt=""> -->
            </button>
        </div>
    </section">

    <section class="hero-section">
        <div class="main-hero-container">
            <div class="hero-container blue fade-in-up">
                <div class="image-div">
                    <i class="hero-icon fa-solid fa-person-chalkboard "></i>               
                </div>
                <div class="blue">
                    <h2>Certified teachers</h2>
                    <p>Expert educators dedicated to student success, offering engaging learning experiences tailored to individual needs.</p>
                </div>
            </div>
            <div class="hero-container green fade-in-up">
                <div class="image-div">                 
                    <i class="hero-icon fa-solid fa-book-open-reader"></i>
                </div>
                <div class="green">
                    <h2>Special Education</h2>
                    <p>Inclusive support for diverse learning needs, ensuring every student thrives in a nurturing environment.</p>
                </div>
            </div>
            <div class="hero-container purple fade-in-up">
                <div class="image-div">
                    <i class="hero-icon fa-solid fa-book"></i>         
                </div>
                <div class="purple">
                    <h2>Books & Library</h2>
                    <p>Explore a vast collection of books and resources, fostering a love for learning and discovery.
                    </p>
                </div>
            </div>
            <div class="hero-container red fade-in-up">
                <div class="image-div">
                    <i class="hero-icon hero-icon2 fa-solid fa-award"></i>
                </div>
                <div class="red">
                    <h2>Certification</h2>
                    <p>Our school is certified to provide top-notch education by meeting high standards, ensuring you get the best learning experience possible.</p>
                </div>
            </div>
        </div> 
    </section>

    <section id="features">
        <div class="container1">
            <div class="grid-container fade-in-up">
                <h2>What We Offer</h2>
                <p>
                    Discover comprehensive educational solutions tailored to your needs. From certified teachers to specialized programs, books, and certification options, we provide a supportive environment for academic and personal growth. Explore our offerings and embark on a journey of learning and achievement with us.
                </p>
                <div class="grid-container3">
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="fa-solid fa-user-shield" style="color:white"></i>
                        </div>
                        <div>
                            <h3>Safety First</h3>
                            <p>Prioritize student safety with stringent safety protocols and procedures, ensuring a secure learning environment for all.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="fa-solid fa-person-chalkboard" style="color:white;"></i>
                        </div>
                        <div>
                            <h3>Experienced Faculty</h3>
                            <p>Learn from passionate educators with years of expertise and a commitment to student success.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="fa-solid fa-brain" style="color:white;"></i>
                        </div>
                        <div>
                            <h3>Holistic Development</h3>
                            <p>Foster intellectual, emotional, and social growth through our comprehensive approach to education.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="fa-solid fa-book-open-reader" style="color:white;"></i>                        
                        </div>
                        <div>
                            <h3>Diverse Curriculum</h3>
                            <p>Explore a wide range of subjects and extracurricular activities to foster holistic development.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="fa-solid fa-book" style="color:white;"></i>         
                        </div>
                        <div>
                            <h3>Quality Education</h3>
                            <p>Experience excellence in learning with our dedicated faculty and modern teaching methods.</p>
                        </div>
                    </div>
                    <div class="image-div1">
                        <div class="grid-con-image">
                            <i class="fa-solid fa-person-circle-check" style="color:white;"></i>                        
                        </div>
                        <div>
                            <h3>Individualized Support</h3>
                            <p>Receive personalized attention and support from caring staff members every step of the way.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-container2 fade-in-up">
                <div class="sec_con">
                    <h2>Welcome to Orkids School</h2>
                    <p>
                        Orkids School is a family- oriented school.
                        At Orkids School, we believe in nurturing young minds, fostering creativity, and inspiring a love for learning that lasts a lifetime. Our vibrant community is dedicated to providing a supportive and engaging environment where every child can thrive.
                        As you explore our webpage, you will have a glimpse of a wide range of innovative programmes, excellent academic curriculum, and exciting co-curricular activities that enhances your child's educational journey. 
                        From our dedicated teachers to our innovative approach to learning, we are committed to providing an enriching and fulfilling experience for all our students.
    
                    </p>
                    <p>                        
                        We encourage you to get involved in school life, whether through volunteering, attending events, or staying informed about your child's progress. 
                        Together, we can help shape the future leaders of tomorrow.
                        Thank you for choosing Orkids school .
                        We look forward to partnering with you on your child's education and creating lasting memories together.
                        <br>Warm regards,<br>
                        Head of Academics <br>
                        Babra Francis
                    </p>
                    <div class="section-button">
                        <a href="/about">
                            <button class="section-button1">READ MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="image-background">
        <div class="overlay"></div>
        <div class="image-background-container">
            <div class="content">
                <div>
                    <h2>
                        Teaching Your Child Some Good Manners
                    </h2>
                    <p>
                        Cultivate courtesy in your child. Discover practical tips for good manners. Partner with us at Orkids for a respectful community..
                    </p>
                </div>
                <!-- <div class=" image-button">
                    <button class="section-button1">Take a Course</button>
                </div> -->
            </div>
        </div>

    </section>

    <!-- <section id = "teachers-section" class="teachers-section">
        <div class="heading">
            <div class="heading2 fade-in-up">
                <div class=""><h2><span class="teachers-span">Certified  </span>Teachers</h2></div>
                <p class="">
                    Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                </p>
            </div>
            <div class="staff-container">
                <div class="staff-container1">
                    <div class="staff">
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>

                                    </div>
                                </div>                   
                            </div>
                            <h3>Bianca Wilson</i></h3>
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                        </div>
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Bianca Wilson</h3>  
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            
                        </div>
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Bianca Wilson</h3>  
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            
                        </div>
                        <div class="image-container-staff fade-in-up">
                            <div class="image-staff">
                                <div class="img">
                                    <div class="social">
                                        <div class="social-box">
                                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-solid fa-at"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>Bianca Wilson</h3>  
                            <p>TEACHER</p>
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>

                        </div>
                    </div>

                </div>
            </div>  

        </div>

    </section> -->
    <section class="teachers-section teachers-section2">
        <div class="container">
            <div class="heading2 fade-in-up">
                <h2><span class="teachers-span">Extra   Curricular     </span>   Activities</h2>
                <p class="">
                    Engage in a vibrant array of extracurricular activities, fostering creativity, teamwork, and leadership skills. From sports to arts, explore new passions and expand horizons beyond the classroom.
                </p>
            </div>
            <div class="cards">
                <div class="cards fade-in-up">
                    <div class="card1">
                        <div class="card-image1"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p class="class-time">Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                    <div class="card1">
                        <div class="card-image1 second"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p>Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                </div>                
                <div class="cards fade-in-up">
                    <div class="card1">
                        <div class="card-image1 third"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p class="class-time">Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                    <div class="card1">
                        <div class="card-image1 fourth"></div>
                        <div class="card-details">
                            <h3>
                                Arts Lesson
                            </h3>
                            <p>Class time: <span>9:00am - 10am</span</p>
                            <p>
                                Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teachers-section teachers-section2 carousels pad fade-in-up">
        <div class="container">
            <div class="heading2 ">
                <h2><span class="teachers-span">What Parents</span> Say About Us</h2>
                <p class="">
                    Discover heartfelt testimonials from parents, celebrating our nurturing environment, academic excellence, and transformative impact on their children's lives.
                </p>
            </div>
        </div>
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel1">
                <% testimonial.forEach(testimonial =>{ %>
                <li class="card">
                    <div class="p-txt2">
                        <p> <%= testimonial.description %></p>
                    </div>
                    <div class="img-name ">
                        <div class="img"><img src="/pictures/<%= testimonial.image %>" alt="img" draggable="false">
                        </div>
                        <div>
                            <span><%= testimonial.name %></span>
                            <p>Parent</p>
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>

  
</body>
<script>
    document.getElementById('subscribeForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
    //example
    const form = document.getElementById("subscribeForm")
    const formdata = new FormData(form)
    const email = document.getElementById('emailInput').value;

    // Example of using fetch to send a POST request to the server
    const show_message = document.querySelector(".subscription")
    function show(){
        show_message.classList.add("show-successfull")
    };
    function hide(){
        show_message.classList.remove("show-successfull")
    };
    fetch('/subscribe', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email })
    })
    .then(response => {
        if (response.ok) {
            setTimeout(show,100);
            setTimeout(hide,1000);
            document.getElementById('emailInput').value = ''; // Clear input field
        } else {
            throw new Error('Failed to subscribe');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Invalid email or duplicate email.');
    });
});

</script>
</html>






